name: CRON Schedule job

# on:
  # schedule:
    # - cron:  '0 23 * * *'
on: [push, pull_request]

jobs:
  generate-calendar:
    runs-on: ubuntu-latest
    steps:
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - name: set current datetime as env variable
        env:
          TZ: 'Asia/Tokyo'
        run: echo "CURRENT_DATETIME=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
      - name: set current datetime as env variable
        env:
          TZ: 'Asia/Tokyo'
        run: echo "CURRENT_DATETIME_STR=$(date +'%Y/%m/%d/ %H:%M:%S')" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - name: go generate
        id: go_generate
        run: go generate ./gen
        continue-on-error: true
      - name: get diff
        if: ${{ steps.go_generate.outcome == 'success' }}
        run: echo "::set-output name=changed::$(git diff --name-only | wc -l)"
        id: diff
      - name: get open pr
        if: ${{ steps.go_generate.outcome == 'success' && steps.diff.outputs.changed != '0' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "::set-output name=count::$(gh pr list --label calendar-update-detect --state open | grep CSV | wc -l)"
        id: pr
      - name: push branch
        if: ${{ steps.go_generate.outcome == 'success' && steps.diff.outputs.changed != '0' && steps.pr.outputs.count == '0'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git switch -c feature/update_calendar_${{ env.CURRENT_DATETIME }}
          git add .
          git commit -m "calendar update detect"
          git push -u origin feature/update_calendar_${{ env.CURRENT_DATETIME }}
      - name: create pull request
        if: ${{ steps.go_generate.outcome == 'success' && steps.diff.outputs.changed != '0' && steps.pr.outputs.count == '0'}}
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "feature/update_calendar_${{ env.CURRENT_DATETIME }}"
          destination_branch: "main"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "A calendar CSV update has been detected"
          pr_body: "a calendar csv update has been detected at ${{ env.current_datetime_str }}!!"
          pr_label: "calendar-update-detect"
      - name: get open issue
        if: ${{ steps.go_generate.outcome == 'failure' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "::set-output name=count::$(gh issue list --label failed-to-update --state open | grep calendar | wc -l)"
        id: issue
      - name: create error issue
        if: ${{ steps.go_generate.outcome == 'failure' && steps.issue.outputs.count == '0'}}
        uses: imjohnbo/issue-bot@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Failed to update the calendar
          body: "Failed to update the calendar https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
          labels: "failed-to-update"
      - name: exit
        if: ${{ steps.go_generate.outcome == 'failure' }}
        run: exit 1